@model XSpy.Database.Models.Views.Account.SettingsViewModel

@{
    ViewData["Title"] = "Configuração da conta";
    ViewData["PageScript"] = "/js/app/home/default.js";

}


@section Styles {
    <link rel="stylesheet" href="~/libs/select2/css/select2.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.23/b-1.6.5/b-html5-1.6.5/b-print-1.6.5/r-2.2.7/datatables.min.css"/>
}

<section class="content">
    <div class="container-fluid">

        @if (!string.IsNullOrEmpty(ViewBag.Error))
        {
            <div class="alert alert-danger">
                @ViewBag.Error
            </div>
        }
        <form method="post">
            <div class="row">

                <div class="col-sm-6">


                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Dados Pessoais</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">

                            <div class="row">
                                <div class="input-group mb-3 col-md-6">
                                    <input type="text" class="form-control" name="name" placeholder="Nome" value="@Model.UserData.Name" required="">
                                </div>

                                <div class="input-group mb-3 col-md-6">
                                    <input type="email" class="form-control" name="email" placeholder="Email" value="@Model.UserData.Email" required="">

                                </div>

                                <div class="input-group mb-3 col-md-6">
                                    <input type="date" class="form-control" name="birthdate" placeholder="Data de Nascimento" value="@Model.UserData.BirthDate?.ToString("yyyy-MM-dd")" required="">

                                </div>
                                <div class="input-group mb-3 col-md-6">
                                    <input type="number" class="form-control" name="document" placeholder="CPF ou CNPJ" value="@Model.UserData.Document" required="">

                                </div>

                            </div>


                            <div class="row">
                                <div class="col-8">

                                </div>
                                <!-- /.col -->
                                <div class="col-4">
                                    <button type="submit" class="btn btn-primary btn-block">Salvar</button>
                                </div>
                                <!-- /.col -->
                            </div>

                            @Html.AntiForgeryToken()
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                    <!-- /.card -->
                </div>
                <div class="col-sm-6">


                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Endereço</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row">


                                <div class="input-group mb-3 col-md-6">
                                    <input type="number" class="form-control" name="zipCode" placeholder="CEP" value="@Model.AddressData?.Zip" required="">

                                </div>

                                <div class="input-group mb-3 col-md-6">
                                    <input type="text" class="form-control" name="number" placeholder="Número" required="" value="@Model.AddressData?.Number">

                                </div>


                                <div class="input-group mb-3 col-md-6">
                                    <input type="text" class="form-control" name="street" placeholder="Rua" value="@Model.AddressData?.Street" required="">

                                </div>  
                                <div class="input-group mb-3 col-md-6">
                                    <input type="text" class="form-control" name="neighborhood" placeholder="Bairro" value="@Model.AddressData?.Neighborhood" required="">

                                </div>

                                <div class="input-group mb-3 col-md-6">
                                    <input type="text" class="form-control" name="city" placeholder="Cidade" value="@Model.AddressData?.City" required="">

                                </div>
                                <div class="input-group mb-3 col-md-6">
                                    <input type="text" maxlength="2" class="form-control" name="state" placeholder="UF" value="@Model.AddressData?.State" required="">

                                </div>
                            </div>


                            <div class="row">
                                <div class="col-8">

                                </div>
                                <!-- /.col -->
                                <div class="col-4">
                                    <button type="submit" class="btn btn-primary btn-block">Salvar</button>
                                </div>
                                <!-- /.col -->
                            </div>

                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>

        </form>
        <!-- /.row -->
    </div>

</section>