@{
    ViewData["Title"] = "Mensagens";
    ViewData["PageScript"] = "/js/app/device/appMessages.js";

}
@using XSpy.Shared
@model XSpy.Shared.Models.Views.Device.DeviceAppMessagesViewModel

@section Styles {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.23/b-1.6.5/b-html5-1.6.5/b-print-1.6.5/r-2.2.7/datatables.min.css"/>
}

@section PreScripts
{
    <script>
        window.deviceId = '@Model.DeviceId';
    </script>
}

<section class="content">
<div class="container-fluid">

<div class="row">
<div class="col-12 col-md-4">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Contatos</h3>

        </div>
        <div class="card-body" style=" background: #343a40" id="chat-box">
            <div class="direct-chat-contacts-open" style="max-height: 300px;">
                <ul class="contacts-list">
                   
                    @foreach (var contact in Model.Contacts)
                    {
                         <li>
                            <a href="#" class="contact-data"  data-id="@contact.Id" data-name="@contact.ContactName">

                                <div class="contacts-list-info">
                                    <span class="contacts-list-name">
                                        @contact.ContactName
                                        <small class="contacts-list-date float-right">@contact.LastMessageDate</small>
                                    </span>
                                    <span class="contacts-list-msg">@contact.LastMessage</span>
                                </div>
                                <!-- /.contacts-list-info -->
                            </a>
                        </li>
                    }

                </ul>
                <!-- /.contacts-list -->
            </div>
        </div>
    </div>
</div>
<div class="col-12 col-md-8">
    <!-- DIRECT CHAT -->
    <div class="card direct-chat direct-chat-primary">
        <div class="card-header">
            <h3 class="card-title"><span id="contactName">Selecione um contato!</span></h3>

            <div class="card-tools">

                <button type="button" class="btn btn-tool" title="Contacts" data-widget="chat-pane-toggle">
                    <i class="fas fa-comments"></i>
                </button>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <!-- Conversations are loaded here -->
            <div class="direct-chat-messages">
                <!-- Message. Default to the left -->
                <div class="direct-chat-msg" id="msgList">

               
                
            </div>
            <!--/.direct-chat-messages-->
            <!-- Contacts are loaded here -->
            
            <!-- /.direct-chat-pane -->
        </div>
        <!-- /.card-footer-->
    </div>
    <!--/.direct-chat -->

</div>


</div>

</div>
</section>