@{
    ViewData["Title"] = "Aparelhos conectados";
    ViewData["PageScript"] = "/js/app/device/phone.js";

}
@using XSpy.Shared
@model XSpy.Shared.Models.Views.Device.DeviceDataViewModel

@section Styles {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.23/b-1.6.5/b-html5-1.6.5/b-print-1.6.5/r-2.2.7/datatables.min.css"/>
}

<section class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-5">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Contatos</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="dataTable_2" class="table table-hover table-text-center" style="width: 100%">
                            <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Número</th>
                            </tr>
                            </thead>
                            <tbody>

                            @foreach (var call in Model.Device.Contacts)
                            {
                                <tr>
                                    @if (string.IsNullOrEmpty(call.ContactName))
                                    {
                                        <td>Contato sem nome</td>
                                    }
                                    else
                                    {
                                        <td>@call.ContactName</td>
                                    }
                                    <td>@call.Number</td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>

            <div class="col-7">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Chamadas</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="dataTable" class="table table-hover table-text-center" style="width: 100%">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Nome</th>
                                <th>Número</th>
                                <th>Duração</th>
                                <th>Data</th>
                            </tr>
                            </thead>
                            <tbody>

                            @foreach (var call in Model.Device.Calls)
                            {
                                <tr>
                                <td>
                                    @if (call.Type == CallType.Incoming)
                                    {
                                        <i data-toggle="tooltip" title="Chamada recebida" class="fas fa-external-link-alt" style="transform: scale(-1)"></i>
                                    }
                                    else if (call.Type == CallType.Outgoing)
                                    {
                                        <i data-toggle="tooltip" title="Chamada realiazada" class="fas fa-external-link-alt"></i>
                                    }
                                    else
                                    {
                                        <i data-toggle="tooltip" title="Chamada recusada" class="fas fa-ban"></i>
                                            
                                    }
                                </td><td>
                                        @if (string.IsNullOrEmpty(call.Name))
                                        {
                                            <span>Desconhecido</span>
                                        }
                                        else
                                        {
                                            <span>@call.Name</span>
                                        }
                                    </td>
                                    <td>@call.Number</td>
                                    <td>@call.Duration</td>
                                    <td>@call.Date</td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>

    </div>
</section>