@{
    ViewData["Title"] = "Galeria de imagens";
    ViewData["PageScript"] = "/js/app/device/photos.js";

}
@model XSpy.Database.Models.Views.Device.DeviceDataViewModel

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/libs/ekko-lightbox/ekko-lightbox.css" />
}

<section class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Galeria de imagens</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            @if (Model.Device.ImageList.Count <= 0)
                            {
                                <div class="col-12 text-center">
                                    <h3>Nenhuma foto encontrada</h3>
                                </div>
                            }
                            else
                            {
                                @foreach (var photo in Model.Device.ImageList)
                                {
                                    if (string.IsNullOrEmpty(@photo.ThumbPath))
                                    {
                                        continue;
                                    }
                                    <div class="col-sm-2">
                                        <a href="@photo.ThumbPath" data-toggle="lightbox" data-title="Imagem @photo.FileId" data-gallery="gallery">
                                            <img src="@photo.ThumbPath" class="img-fluid mb-2" alt="@photo.OriginalPath"/>
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- /.container-fluid -->
</section>