@{
    ViewData["Title"] = "Aparelhos conectados";
    ViewData["PageScript"] = "/js/app/device/phone.js";

}
@model XSpy.Shared.Models.Views.Device.LocationDataViewModel

@section Styles {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.23/b-1.6.5/b-html5-1.6.5/b-print-1.6.5/r-2.2.7/datatables.min.css"/>
}

@section PostScripts {
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMUgpUDvW7n-Q4DZF4lgGTod0Ctt-VN_M&callback=initMap&libraries=&v=weekly"
        async></script>
    <script>
        function initMap() {

            const myLatLng = { lat: @(Model.LatestLocation?.Latitude ?? 0), lng: @(Model.LatestLocation?.Longitude ?? 0) };

            const map = new google.maps.Map(document.getElementById("map"),
                {
                    zoom: 4,
                    center: myLatLng,
                });

            new google.maps.Marker({
                position: myLatLng,
                map,
                title: "Localização atual"
            });
        }
        
    </script>
}

<section class="content">
    <div class="container-fluid">
        <partial name="Partial/QuickActions" />

        <div class="row">
            <div class="col-md-6 col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Histórico de localizações</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="dataTable_2" class="table table-hover table-text-center" style="width: 100%">
                            <thead>
                            <tr>
                                <th>Data</th>
                                <th>Latitude</th>
                                <th>Longitude</th>
                                <th>Velocidade</th>
                            </tr>
                            </thead>
                            <tbody>

                            @foreach (var location in Model.Device.Locations)
                            {
                                <tr>
                                    <td>@location.CratedAt</td>
                                    <td>@location.Latitude</td>
                                    <td>@location.Longitude</td>
                                    <td>@location.Speed</td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>

            <div class="col-md-6 col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Localização</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div id="map" style="width: 100%; height: 400px"></div>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
    </div>
</section>