@{
    ViewData["Title"] = "Dashboard";
    ViewData["PageScript"] = "/js/app/home/dashboard.js";
}
@model XSpy.Shared.Models.Views.DashViewModel
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            @foreach (var device in Model.Devices)
            {
                <div class="col-md-4">
                    <!-- Widget: user widget style 1 -->
                    <div class="card card-widget widget-user widget-hover">
                        <!-- Add the bg color to the header using any of the bg-* classes -->

                        <div class="widget-user-header bg-info">
                            <h3 class="widget-user-username">@device.Model</h3>
                            <h5 class="widget-user-desc">@device.Manufacturer</h5>
                        </div>
                        <div class="card-footer">
                            <div class="row">

                                <div class="col-12 text-center">
                                    <button type="button" data-toggle="tooltip" title="" data-device="@device.Id" class="btn btn-danger btn-sm btn-margin act-delete" data-original-title="Deletar">
                                        <i class="fas fa-trash"></i>
                                    </button>

                                    <button type="button" data-toggle="tooltip" title="" data-device="@device.Id" class="btn btn-success btn-sm btn-margin act-refresh" data-original-title="Sincronizar">
                                        <i class="fas fa-sync"></i>
                                    </button>
                                    <a href="/device/@device.Id/details" data-toggle="tooltip" title="" data-device="@device.Id" class="btn btn-info btn-sm btn-margin" data-original-title="Ver detalhes">
                                        <i class="fas fa-info-circle"></i>
                                    </a>

                                </div>

                                <div class="col-12 text-center">
                                    <hr />
                                </div>

                                <div class="col-sm-4 border-right">
                                    <div class="description-block">
                                        @if (device.IsOnline)
                                        {
                                            <h5 class="description-header"><span class="label label-primary">Online</span></h5>
                                        }
                                        else
                                        {
                                            <h5 class="description-header"><span class="label label-danger">Offline</span></h5>

                                        }
                                        <span class="description-text">Estado</span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <!-- /.col -->
                                <div class="col-sm-4 border-right">
                                    <div class="description-block">
                                        <h5 class="description-header">@device.SystemVersion</h5>
                                        <span class="description-text">V. Android</span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <!-- /.col -->
                                <div class="col-sm-4">
                                    <div class="description-block">
                                        <h5 class="description-header">@device.UpdatedAt.ToString("dd/MM/yy HH:ss")</h5>
                                        <span class="description-text">Última sinc.</span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <!-- /.col -->


                            </div>
                            <!-- /.row -->
                        </div>
                    </div>
                    <!-- /.widget-user -->
                </div>
            }
            

        </div>
        <!-- /.row -->
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>