@using XSpy.Database.Models.Data.Financial
@{
    ViewData["Title"] = "Compras";
    ViewData["PageScript"] = "~/js/financial/list.js";

}

@section Styles {
    <link rel="stylesheet" href="~/libs/select2/css/select2.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.23/b-1.6.5/b-html5-1.6.5/b-print-1.6.5/r-2.2.7/datatables.min.css"/>
}

@section PreScripts
{
    <script>
        window.exportOptions = {
            columns: [0, 1, 2, 3, 4]
        }

        window.canAccept = @(Html.HasPermission("IS_FINANCIAL_ADMIN") ? "true" : "false");
    </script>
}

<section class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Filtros de busca</h3>
                    </div>
                    <div class="card-body">
                        <form id="searchForm">
                            <div class="row">
                                <div class="col-lg-4">
                                    <label for="username" class="font-normal">Email</label>
                                    <input type="text" placeholder="Email" id="username" name="username" class="form-control m-b">
                                </div>

                                <div class="col-lg-4">
                                    <label for="fullName" class="font-normal">Nome</label>
                                    <input type="text" placeholder="Nome Completo" id="fullName" name="fullName" class="form-control m-b">
                                </div>

                                <div class="col-lg-4">
                                    <label for="paymentStatus" class="font-normal">Estado do pagamento</label>
                                    <select class="select2 form-control" name="paymentStatus" id="paymentStatus">
                                        <option value="">Qualquer situação</option>
                                        <option value="@PaymentStatus.Success">Aprovado</option>
                                        <option value="@PaymentStatus.Pending">Pendente</option>
                                        <option value="@PaymentStatus.Canceled">Cancelado</option>
                                        <option value="@PaymentStatus.Failed">Falha</option>
                                    </select>
                                </div>

                            </div>
                            <div class="text-right">
                                <button class="btn btn-primary" id="sendSearch" type="button" style="margin-left: 10px">Pesquisar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Lista de transações</h3>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped table-bordered table-hover table-text-center" id="dataTable">
                            <thead>
                            <tr>
                                <th>CPF/CNPJ</th>
                                <th>Nome</th>
                                <th>Meio de pagamento</th>
                                <th>Estado</th>
                                <th>Quantidade</th>
                                <th>Valor</th>
                                <th>Data</th>
                                <th>Ação</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>


    </div>
</section>