<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>XSpy - @ViewData["Title"]</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="~/libs/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/libs/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="~/css/adminlte.min.css">
    <link rel="stylesheet" href="~/libs/overlayscrollbars/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="~/libs/toastr/build/toastr.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css">

    @if (IsSectionDefined("Styles"))
    {
        @await RenderSectionAsync("Styles", required: false)
    }

    @if (IsSectionDefined("PreScripts"))
    {
        @await RenderSectionAsync("PreScripts", required: false)
    }

    @{
        string pageScript = ViewData["PageScript"] as string;
        if (!string.IsNullOrEmpty(pageScript))
        {
            <script data-main="@pageScript" src="~/libs/require.js/require.min.js"></script>
        }
        else
        {
            <script data-main="js/default" src="~/libs/require.js/require.min.js"></script>
        }
    }

</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button">
                    <i class="fas fa-bars"></i>
                </a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a href="/" class="nav-link">Início</a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a href="/download" class="nav-link">Download</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="/logout" role="button">
                    <i class="fas fa-sign-out-alt"></i>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /.navbar -->
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="/" class="brand-link">
            <img src="~/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                 style="opacity: .8">
            <span class="brand-text font-weight-light">XSpy</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    @if (string.IsNullOrEmpty(ViewBag.User.ProfilePhoto))
                    {
                        <img src="~/img/profile-placeholder.png" class="img-circle elevation-2" alt="Imagem de perfil">
                    }
                    else
                    {
                        <img src="@ViewBag.User.ProfilePhoto" class="img-circle elevation-2" alt="User Image">
                    }
                </div>
                <div class="info">
                    <a href="#" class="d-block">@ViewBag.User.Name</a>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar nav-legacy flex-column" data-widget="treeview" role="menu" data-accordion="false">

                    <li class="nav-item">
                        <a href="/dashboard" class="nav-link @Html.IsSelected("Home")">
                            <i class="nav-icon fas fa-th-large"></i>
                            <p>
                                Dashboard
                            </p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a href="/device/list" class="nav-link @Html.IsSelected("Device")">
                            <i class="nav-icon fas fa-mobile-alt"></i>
                            <p>
                                Dispositivos
                            </p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a href="/user/list" class="nav-link @Html.IsSelected("User")">
                            <i class="nav-icon fas fa-users"></i>
                            <p>
                                Usuários
                            </p>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        @RenderBody()
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
        <strong>Copyright &copy; @DateTime.Now.Year <a href="#">XSpy</a>.</strong>
        Todos os direitos reservados.
        <div class="float-right d-none d-sm-inline-block">
            <b>Versão</b> 0.1.0
        </div>
    </footer>

</div>
@if (IsSectionDefined("PostScripts"))
{
    @await RenderSectionAsync("PostScripts", required: false)
}
</body>
</html>